---
import { Icon } from "astro-icon";
import Link from "./ui/link.astro";

const siteLink = [
  {
    name: "Team",
    url: "/team",
  },
  {
    name: "Contact",
    url: "/contact",
  },
  {
    name: "Blog",
    url: "/blog",
  },
];

const legalLink = [
  {
    name: "CGV/CGU",
    url: "/cgv-cgu",
  },
  {
    name: "Mentions légales",
    url: "/mentions-legales",
  },
  {
    name: "Politique de confidentialité",
    url: "/politique-de-confidentialite",
  },
  {
    name: "Charte d'Iris Claire",
    url: "/rgpd",
  },
];

const socialLink = [
  {
    name: "Instagram",
    url: "https://www.instagram.com/",
  },
  {
    name: "Pinterest",
    url: "https://www.pinterest.fr/Djodjo30/",
  },
  {
    name: "Facebook",
    url: "https://www.facebook.com/",
  },
];
---

<footer
  class="bg-gradient-to-r from-violet-700 from-10% via-violet-800 to-violet-900 to-70%">
  <div
    class="container mx-auto flex flex-col justify-center items-start space-y-26 px-26 pb-8 pt-12 md:flex-row md:space-y-0 md:space-x-0 md:px-12">
    <div class="flex w-full flex-col text-center md:w-1/5 md:text-left">
      <div class="w-full text-lg font-extrabold md:w-fit md:text-left">
        <a href="/" class="text-3xl ml-2"
          ><span class="font-bold text-violet-200">Iris</span>
          <span class="text-orange-500">Claire</span>
        </a>
        <!-- Code block for white alternative button starts -->
        <button
          class="w-8/12 mx-2 my-2 bg-white transition duration-150 ease-in-out rounded text-gray-800 border border-gray-300 px-6 py-2 text-xs hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800">
          Join our Newsletter
        </button>
        <!-- Code block for white alternative button ends -->
      </div>
    </div>
    <div
      class="w-full text-center text-violet-200 md:w-1/5 md:text-left mt-10 md:mt-0 ">
      <div class="text-sm font-semibold">Company</div>
      <ul class="flex flex-col justify-content-start align-top gap-1 text-xs mb-5">
        {
          siteLink.map(({ name, url }) => (
            <li class="pt-3">
              <a
                class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                href={url}
                rel="noopener noreferrer">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class="w-full text-center text-violet-200 md:w-1/5 md:text-left mt-5 md:mt-0">
      <div class="text-sm font-semibold">Legal</div>
      <ul class="flex flex-col justify-center gap-1 text-xs mb-5">
        {
          legalLink.map(({ name, url }) => (
            <li class="pt-3">
              <a
                class="underline decoration-transparent underline-offset-4 transition hover:decoration-slate-700"
                href={url}
                rel="noopener noreferrer">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class="w-full text-center text-violet-200 md:w-1/5 md:text-left mt-5 md:mt-0">
      <div class="text-sm font-semibold">Follow</div>
      <!-- List des icone reseaux sociaux -->
      <div class="flex justify-center md:justify-start gap-4 mt-3">
        <div class="flex items-center gap-4">
          {
            socialLink.map(({ name, url }) => (
              <Link href={url} size="sm" style="muted" target="_blank">
                <Icon
                  name={`bx:bxl-${name.toLowerCase()}`}
                  class="text-violet-800 hover:text-orange-500 h-6 w-6"
                />
              </Link>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div
    class="container mx-auto border-t border-slate-200 p-8 text-center text-sm text-violet-200 dark:border-violet-200 md:flex-row md:px-12">
    Made in Paris with 🐕 ©Copyright 2023 by DigitalFy SAS. All rights
    reserved.
  </div>
</footer>
