---
import Layout from "@layouts/BlogLayout.astro";
import Container from "@components/blogContainer.astro";
import SingleBlogItem from "@components/Blog/SingleBlogItem.jsx";
import Aside from "@components/Blog/BlogAsideSection.jsx";

const response = await fetch(
  `http://iris-api.candcom.com/api/posts?populate=*`
);
const data = await response.json();
const posts = data.data;
const { slug } = Astro.params;
async function getCategories() {
  const response = await fetch(
    "https://iris-api.candcom.com/api/categories?populate=*"
  );
  const categoriesData = await response.json();
  const categoriesList = categoriesData.data;

  return categoriesList;
}

const sortedPosts = posts.sort((a, b) => {
  const dateA = new Date(a.attributes?.updatedAt).getTime();
  const dateB = new Date(b.attributes?.updatedAt).getTime();
  return dateB - dateA;
});

const latestPosts = sortedPosts.slice(0, 5);

const categoriesList = await getCategories();

const post = posts.find((post) => post.attributes.slug === slug);

if (!post) return Astro.redirect("/404");
const {
  title,
  publishedAt,
  content,
  author,
  featureImage,
  readingTime,
  description,
  imagedescription,
  categorySlug,
} = post.attributes;
---

<Layout
  title={title}
  image={featureImage.data[0].attributes?.url}
  description={description}
  imageAlt={imagedescription}
  author={author.data.attributes?.name}
  >
  <Container class="w-full md:w-10/12 bg-slate-100 h-auto mb-10">
    <div class="container w-full mx-auto flex flex-wrap pt-6">
      <div class="w-full md:w-2/3 flex flex-col items-center px-6 ">
        <SingleBlogItem
          title={title}
          publishedAt={publishedAt}
          content={content}
          author={author}
          featureImage={featureImage}
          readingTime={readingTime}
        />
      </div>
      <Aside categoriesList={categoriesList} latestPosts={latestPosts}/>
    </div>
  </Container>
</Layout>
