---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string; 
  image: string;
  description: string;
  imageAlt: string;
  author: string;
  slug: string | any;
}
const { title, image, description, imageAlt, author, slug} = Astro.props;

const canonicalURL = new URL(
  Astro.url.pathname,
  Astro.site
).toString();

const makeUrl = new URL(image, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  image,
  'http://iris-api.candcom.com'
).toString();

const makeTitle = title
  ? title + " | " + "Le Blog d'Iris Clair"
  : "Iris Claire - Votre Portail vers l'Univers Mystique du Tarot";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description= {description}
      canonical={canonicalURL}
      twitter={{
        creator: author,
        site: makeUrl,
        title: title,
        description: description,
        image: resolvedImageWithDomain,
        imageAlt: imageAlt,
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: makeUrl,
          type: "article",
          title: title,
          image: resolvedImageWithDomain,
        },
        image: {
          url : resolvedImageWithDomain,
          alt: imageAlt,
        },
      }}
    />
  </head>
  <body class="bg-violet-100">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
